body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 100vh;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  height: 150vh;
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: orange;
  overflow: hidden;
}

.el {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
}

.img-item {
  object-fit: cover;
}

.backdrop {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-Index: 2;
  margin: 0px auto;
}

.headTitle {
  font-family: "Lilita One", sans-serif;
  font-size: 5em;
}

.block{
  display: block;
}